In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("C:/Users/arunk01/Desktop/Analytics Vidhya/Python/FAO.csv", encoding = "ISO-8859-1")

In [5]:
df_mean = df["Item Code"].mean()

In [7]:
print (df_mean)

2694.2115286120033

In [8]:
df_median = df["Item Code"].median()

In [9]:
print (df_median)

2640.0

In [10]:
df_mode = df["Item Code"].mode()
print (df_mode)

0    2905
dtype: int64

In [13]:
df_variance = df["Item Code"].var(ddof=0)

In [14]:
print (df_variance)

22192.042372096555

In [23]:
df_std = df["Item Code"].std(ddof=1)

In [24]:
print(df_std)

148.97340606165707

In [25]:
df.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AF,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AF,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AF,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AF,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AF,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200

In [26]:
df_freq = df["Item"].value_counts()

In [27]:
print (df_freq)

Milk - Excluding Butter         558
Eggs                            360
Cereals - Excluding Beer        347
Fish, Seafood                   337
Maize and products              333
Pelagic Fish                    328
Oilcrops                        314
Starchy Roots                   309
Cereals, Other                  308
Animal fats                     280
Oats                            279
Barley and products             276
Wheat and products              273
Pulses                          261
Fish, Body Oil                  259
Vegetables, Other               258
Vegetables                      258
Rice (Milled Equivalent)        255
Pulses, Other and products      255
Potatoes and products           254
Oilcrops, Other                 250
Fruits - Excluding Wine         232
Cassava and products            225
Rye and products                223
Soyabeans                       223
Marine Fish, Other              219
Roots, Other                    213
Sugar & Sweeteners              203
Demersal Fish                   203
Sugar (Raw Equivalent)          197
                               ...
Lemons, Limes and products      162
Infant food                     161
Miscellaneous                   161
Cream                           159
Dates                           159
Maize Germ Oil                  158
Groundnut Oil                   158
Olives (including preserved)    158
Citrus, Other                   155
Pimento                         154
Sugar Crops                     141
Coconut Oil                     136
Plantains                       135
Aquatic Animals, Others         135
Cloves                          134
Sesameseed Oil                  129
Sesame seed                     125
Palm Oil                        124
Rape and Mustard Oil            121
Cottonseed Oil                  110
Sunflower seed                  106
Palmkernel Oil                   92
Yams                             90
Sugar cane                       87
Sugar beet                       66
Sugar non-centrifugal            32
Palm kernels                     24
Cottonseed                       21
Ricebran Oil                     18
Meat, Aquatic Mammals             3
Name: Item, Length: 115, dtype: int64

In [28]:
df.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AF,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AF,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AF,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AF,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AF,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200

In [29]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
plt.hist(x="Item Code",data=df)

In [ ]:
plt.show()

In [ ]:
plt.hist(x='Item Code',data=df, bins=5)
plt.show()

In [ ]:
import pandas as pd

In [ ]:
histogram = pd.read_csv("C:/Users/arunk01/Desktop/Analytics Vidhya/Python/data_python.csv", encoding = "ISO-8859-1"))

In [ ]:
histogram.head()